
<!DOCTYPE html>

<html>
    <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}"> <!-- You need this for you to link your style sheet-->
    </head>
    
    <body>
          
          
          <h1 id="p1">Welcome Back</h1>
          <h2 id = "p2">Please enter your details</h2>
          <h2 id = "p3">Email address</h2>
          <h2 id  = "p4">Password</h2>


          <a href = "{% url 'forgot'%}">
          <h2 id = "p5"> Forgot password</h2>
          </a>

          <div class="continue_with">
          <hr style="
            width: 4.4%;
            border: .1px solid rgb(130, 128, 128);
            margin-left: 985px;
            margin-top:646px;
            position: absolute;
            z-index: 10;
          ">
          <hr style="
            width: 4.2%;
            border: .05px solid rgb(130, 128, 128);
            margin-left: 816px;
            margin-top:646px;
            position: absolute;
            z-index: 10;
          ">
          <h2 id = 'continue'> or continue with</h2>
          </div>

          <form method="POST" action="{% url 'log_in' %}">
          {% csrf_token %}
          <input type = 'text' class = "emailad" name ="email"></input>
          <input type = 'password' class = "password" name = "password"></input>
         <button type="submit" class="signin" name="signin">Sign in</button>
         </form>

         
         


          <label class="custom-checkbox">
  <input type="checkbox">
  <span class="checkmark"></span>
  Remember me
</label>
  




          <div class ="login-container">
          <div class = "loginpic"></div>
          <div class="login"></div>

          
          </div>
          
          <script> 
          const loginbox = document.querySelector('.login');
          
          
            
           

          </script><!-- You need this for you to link your style sheet-->
        

    </body>
</html>