
<!DOCTYPE html>

<html>
    <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}"> <!-- You need this for you to link your style sheet-->
    </head>
    
    <body>
          
          
          <h1 id="p1">Welcome Back</h1>
          <h2 id = "p2">Please enter your details</h2>
          <h2 id = "p3">Email address</h2>
          <h2 id  = "p4">Password</h2>
          <input type = 'text' class = "emailad" name ="email"></input>
          <input type = 'text' class = "password" name = "password"></input>

          <label class="custom-checkbox">
  <input type="checkbox">
  <span class="checkmark"></span>
  Remember me
</label>


          <div class ="login-container">
          <div class = "loginpic"></div>
          <div class="login"></div>

          
          </div>
          
          <script> 
          const loginbox = document.querySelector('.login');
          
          
            
           

          </script><!-- You need this for you to link your style sheet-->
        

    </body>
</html>