
<!DOCTYPE html>

<html>
    <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css'%}"> <!-- You need this for you to link your style sheet-->
    </head>
    
    <body>
          
          
          <h1 id="p1">Login</h1>
          <div class = "loginpic"></div>
          <div class="login"></div>
          <script> 
          const loginbox = document.querySelector('.login');
            
          
            
           

          </script><!-- You need this for you to link your style sheet-->
        

    </body>
</html>