<html>
    <head>
        <meta charset ='UTF-8'>
        {% load static %}
        <link rel = 'stylesheet' href ="{%static 'shopstyle.css'%}" >
    </head>

    <body>

        <div class = 'layer1'>
             <!-- Header content here -->
        </div>

        <div class = 'layer2'>
             <!-- Main content here -->
        </div>

        <div class = 'notice'>
            <!--notice content here-->

            <p1 id = 'message'>hello</p1>

        </div>

        <div class = 'panel'>
            <form method = "POST">
                {% csrf_token %}
                <img src="{% static 'images/search.png' %}" class="search-icon">
                <input type = 'text' class = search name = searching></input>

            </form>

            
            <!--panel content here-->

        </div>

        
    </body>

</html>